@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.first-section{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    margin: 0 40px;
}
.half-width img{
    width: 80%;
}
.btn{
    text-decoration: none;
    padding: 5px 40px;
    font-size: 22px;
    color: white;
    border-radius: 6px;
    background-image: linear-gradient(#F88567, #f59e88);
}

.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiences-idem div{
    width: 40%;
    margin: 0 60px;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.692);
    padding: 20px;
    border-radius: 5px;
}
.full-stack-web-developer{
    border-left: 10px solid;
    border-image: linear-gradient(#F88567, #f59e88) 1;
}

.baby-web-developer{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan) 1;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}